<h1>Let's start!</h1>
<hr>

<h2><b>Выводим значение х из компонента</b></h2>
<p>{{ x }}</p>
<hr>

<h2><b>Делаем вычисления</b></h2>
<p>{{ 3+5 }}</p>
<hr>

<h2><b>Выводим свойства объекта</b></h2>
<p>{{ user.name }}</p>
<p>{{ 'Hello, ' + user.name + '!' }}</p>
<p>Hello {{ user.name }}!</p>
<hr>

<!--IMPORTANT-->
<!--Внутри фигурных скобок мы не можем обращаться к глобальным объектам.-->
<!--Можно обращаться только к свойствам компонента, внутри шаблона которого находимся.-->

<h2><b>Выводим свойства объекта</b></h2>
<p>Hello random number {{ random() }} </p>
<hr>

<h2><b>Зв’язування даних (Data binding)</b></h2>
<!--Чтобы проставить переменную нужно обрамить атрибут свойство в квадратные кавички и переменная будет интерполирована, а к данногму атрибуту запишеться значение!-->
<p [class]="myClass">Hello {{ user.name }}</p>
<hr>

<h2><b>Зв’язування даних (Data binding) change color</b></h2>
<p [class]="changeColor">Hello {{ user.name }}</p>
<hr>

<h2><b>Зв’язування даних (Data binding) change style</b></h2>
<p [style]="changeStyle"> Hello {{ user.name }} </p>
<hr>


<img [src]="mysrc" [alt]="">
<a [href]="myhref"></a>
<p'style.color'="'pink'" >Вложенные стили</p>
